html {
  font-size: 62.5%;
  background: #9ABFAD;
}
#headerpic {
  padding: 0;
  margin: 0;
  border: 0;
  background-size: cover;
  height: 700px;
  width: 101.5%;
  display: inline-block;
  border-bottom: 1px solid #EAD361;
  position: relative;
  bottom: 8px;
  right: 9px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
nav a {
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
  position: relative;
  bottom: 700px;
}
nav #product-name {
  font-size: 2.5rem;
  font-family: 'Ultra', serif;
  border: 0.5px solid white;
  border-radius: 4px;
  padding: 30px;
  letter-spacing: 1rem;
  background: rgba(225, 225, 225, 0.3);
  bottom: 715px;
}
h2 {
  position: relative;
  bottom: 780px;
  font-size: 10.5rem;
  font-family: 'Ultra';
  font-weight: 200;
  font-style: italic;
  color: white;
  letter-spacing: 0.5rem;
  padding-left: 5%;
}
.learn-more {
  position: relative;
  top: -86rem;
  padding-left: 6%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1.9rem;
  color: white;
  font-style: italic;
}
.top-body-content .img-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 400px;
  padding-bottom: 20px;
}
.top-body-content .img-container .teamphoto {
  height: 375px;
  width: 375px;
  border-radius: 70%;
  border: 1px solid #EAD361;
}
.top-body-content .img-container .teamphoto-placeholder {
  background: #339DCC;
  color: #EAD361;
  border: 1px solid #FFA499;
  border-radius: 100%;
  width: 375px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Ultra';
  font-style: italic;
  letter-spacing: 0.4rem;
}
.body-content {
  display: flex;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  position: relative;
  padding: 0 80px;
  font-weight: 300;
  font-style: italic;
}
.accent-circle {
  background: #339DCC;
  border: 1px solid #EAD361;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  position: relative;
  bottom: 290px;
  margin: auto;
}
.footer-class {
  background: black;
  height: 210px;
  padding: 0 0;
  margin: 0;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  width: 101.5%;
  position: relative;
  top: 20px;
  right: 8px;
  display: flex;
  justify-content: center;
}
.footer-class h4 {
  font-size: 2rem;
  padding: 30px;
  font-weight: 300;
  font-style: italic;
}
.options {
  display: flex;
  justify-content: center;
  align-items: flex-starts;
}
.review-cat {
  font-size: 1.5rem;
  background: #339DCC;
  color: #EAD361;
  padding: 8px;
  margin-left: 5px;
  font-family: 'Ultra';
  font-style: italic;
  position: relative;
  border-radius: 3px;
  bottom: 580px;
  cursor: pointer;
}
.reviews-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  position: relative;
  bottom: 550px;
}
.reviews-container .review {
  height: 375px;
  background: #339DCC;
  color: #EAD361;
  border: 1px solid #FFA499;
  border-radius: 100%;
  width: 375px;
  font-size: 4rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Ultra';
  font-style: italic;
  letter-spacing: 0.4rem;
  display: none;
}
.reviews-container #small-text {
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
}
.question-class-container {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  font-size: 2.5rem;
  color: #EAD361;
  font-style: italic;
  font-weight: 300;
  position: relative;
  bottom: 300px;
  text-align: left;
}
.paragraph-class {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  color: white;
  padding: 0 120px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-style: italic;
}
.move-one {
  position: relative;
  right: 50px;
  bottom: 300px;
}
.move-two {
  position: relative;
  left: 60px;
  bottom: 300px;
}
.move-three {
  position: relative;
  right: 50px;
}
.icons-styling {
  height: 75px;
  width: 75px;
  position: relative;
  bottom: 130px;
  right: 200px;
}
.icons-styling-a {
  height: 75px;
  width: 75px;
  position: relative;
  left: 550px;
  bottom: 220px;
}
.h3-style {
  color: #EAD361;
  display: inline;
  background: #339DCC;
  padding: 25px 60px;
  font-size: 3rem;
  border-radius: 10px;
}
.move-four {
  position: relative;
  bottom: 250px;
  left: 100px;
}
.move-five {
  position: relative;
  left: 850px;
  bottom: 340px;
}
@media (max-width:500px) {
  #headerpic {
    width: 103%;
    right: 8px;
  }
  h2 {
    font-size: 8.5rem;
    right: 3%;
    padding-top: 50px;
  }
  #product-name {
    display: none;
  }
  .footer-class {
    width: 103.5%;
  }
  .options {
    position: relative;
    top: 150px;
  }
  .reviews-container {
    position: relative;
    bottom: 380px;
  }
  #reviews-styling {
    visibility: hidden;
  }
}
@media (max-width:500px) {
  #mobile-style {
    font-size: 7rem;
    position: relative;
    right: 5%;
  }
  .teamphoto {
    display: none;
  }
  .teamphoto-placeholder {
    padding: 80px 0;
    position: relative;
    top: 65px;
  }
  .move-three {
    display: none;
  }
  .move-two {
    display: none;
  }
  .learn-more {
    visibility: hidden;
  }
  .icons-styling {
    padding-left: 65px;
    right: 200px;
    height: 25px;
    width: 25px;
    bottom: 160px;
  }
  .move-one {
    min-width: 400px;
    margin-left: 40%;
    text-align: left;
  }
  .h3-style {
    padding: 10px 125px;
    font-size: 2rem;
  }
  .move-four {
    position: relative;
    left: 170px;
  }
  .icons-styling-a {
    height: 25px;
    width: 25px;
    position: relative;
    left: -195px;
    padding-left: 60px;
    top: 30px;
  }
  .move-six {
    bottom: 65px;
    left: 160px;
  }
  .footer-class {
    padding: 10px;
  }
  .social-media-group {
    display: flex;
    justify-content: space-evenly;
  }
}
